// colors
/* Color Theme Swatches in Hex */
$color-theme_monster-3-1-hex: #08428C;
$color-theme_monster-3-2-hex: #EBD9B4;
$color-theme_monster-3-3-hex: #F28A80;
$color-theme_monster-3-4-hex: #D95B5B;
$color-theme_monster-3-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$color-theme_monster-3-1-rgba: rgba(8,66,140, 1);
$color-theme_monster-3-2-rgba: rgba(235,217,180, 1);
$color-theme_monster-3-3-rgba: rgba(242,138,128, 1);
$color-theme_monster-3-4-rgba: rgba(217,91,91, 1);
$color-theme_monster-3-5-rgba: rgba(13,13,13, 1);
