// colors
/* Color Theme Swatches in Hex */
$color-theme_monster-3-1: #08428C;
$color-theme_monster-3-2: #EBD9B4;
$color-theme_monster-3-3: #F28A80;
$color-theme_monster-3-4: #D95B5B;
$color-theme_monster-3-5: #0D0D0D;
$color-theme_monster-3-6: #5AB1F3;


/* Color Theme Swatches in RGBA */
// $color-theme_monster-3-1: rgba(8,66,140,1);
// $color-theme_monster-3-2: rgba(235,217,180,1),;
// $color-theme_monster-3-3: rgba(242,138,128,1);
// $color-theme_monster-3-4: rgba(217,91,91,1);
// $color-theme_monster-3-5: rgba(13,13,13,1);
// $color-theme_monster-3-6: rgba(90, 177, 243, 1)

/* Primary   */