.home {
  // Grid container
  display: grid;
  grid-template-rows: 100vh min-content;
  grid-template-columns:
    [sidebar-start] 12rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(9, [col-start] minmax(min-content, 10rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

.sidebar {
  // background-color: forestgreen;
  grid-column: sidebar-start/sidbar-end;
  grid-row: 1 / -1;
}

.header {
  grid-column: full-start/full-end;

  display: grid;
  grid-template-columns: repeat(12, minmax(5rem, 1fr));
  grid-template-rows: repeat(8, minmax(5rem, 1fr));

  &__logo {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    
  }

  &__content {
    grid-column: 1 / 7;
    grid-row: 3 / -1;

    justify-self: center;
    align-self: center;
  
  }

  &__image {
    grid-column: 7 / -1;
    grid-row: 3 / -1;

    
  }
}
